[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==8.4.0"
django-debug-toolbar = "==3.5.0"
Faker = "==13.15.0"

[packages]
# django
Django = "==3.2.17"

[requires]
python_version = "3.9"
